.productList{
    flex: 4;
    position: relative;
}

.createDiv {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 9;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }

.productListEdit{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.productListDelete{
    color: red;
    cursor: pointer;
}